<?xml version="1.0"?>

<launch>
  <!-- First rplidar. Used in hector_slam -->
  <include file="$(find rplidar_ros)/launch/rplidar_a3.launch">
    <arg name="serial_port" value="/dev/ttyUSB0"/>
    <arg name="serial_baudrate" value="115200"/>
  </include>
  
  <!-- Second rplidar. Used to collect 3d scan data -->
  <include file="$(find rplidar_data)/launch/rplidar_data.launch">
    <arg name="serial_port" value="/dev/ttyUSB1"/>
    <arg name="serial_baudrate" value="256000"/>
  </include>
  
  <!-- Hector Slam -->
  <include file="$(find hector_mapping)/launch/mapping.launch">
    <arg name="map_update_distance_thresh" value="0.2"/>
    <arg name="map_update_angle_thresh" value="0.1"/>
  </include>
  
  <!-- 3D Scan -->
  <include file="$(find scan_3d)/launch/scan_3d.launch">
    <arg name="map_update_distance_thresh" value="0.0"/>
    <arg name="map_update_angle_thresh" value="0.0"/>
    <arg name="visualize_rviz" value="false"/>
    <arg name="visualize_pcl" value="true"/>
    <arg name="ground_search_angle" value="0.5"/>
  </include>
  
  <!-- Enable for trajectory -->
  <include file="$(find hector_geotiff_launch)/launch/geotiff_mapper.launch"/>
  
  <!-- RViz -->
  <!--node pkg="rviz" type="rviz" name="rviz" args="-d $(find rplidar_ros)/rviz/slam.rviz"/-->
  
  <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0 0 0 0 0 0 base_link laser 100"/>
  <node pkg="tf" type="static_transform_publisher" name="map_to_base_broadcaster" args="0 0 0 0 0 0 map base_link 100"/>
</launch>
